<a href="https://colab.research.google.com/github/Wikanes-k/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ text box จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [2]:
import pandas #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [3]:
import pandas as pd #เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (csv = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [4]:
data_df = pd.read_csv('data.csv') #ชื่อpackage.ฟังชัน(ชื่อไฟล์)

In [5]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [6]:
data_df2 = pd.read_csv('data.csv')   #ภายใน1เซลสามารถพิมได้2บรรทัด
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

#Basic Python
##variables ตัวแปร กล่องที่ไว้ใส่ข้อมูล

ข้อกหนดในการตั้งชื่อตัวแปร

1.   ชื่อห้ามมีเว้นวรรค
2.   ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [7]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [8]:
variable_a

12

In [9]:
variable_b

'abcde'

In [10]:
variable_c

12

In [11]:
#colab ใช้ภาาาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [14]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [15]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [16]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [17]:
print(variable_b + variable_4)

abcdeKKU

## Casing int() float() str()

In [18]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [19]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [20]:
V_X  # เป็นstr

'-29.200000000000003'

In [21]:
float(V_X)  #เปลี่ยนกลับเป็นตัวเลข

-29.200000000000003

## Data Stucture
list()

In [22]:
list_a = [1,2,0,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [23]:
list_a

[1, 2, 0, 'abs']

In [24]:
list_b

[2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

In [25]:
len(list_b)  #บอกจำนวนlist

4

In [26]:
list_b[3] #ชี้ list

[1, 2, 0.0]

In [27]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [28]:
a = 'Stat KKU'

In [29]:
a[4]

' '

##วิธีสร้าง list ว่าง

In [30]:
list_c = list() #แบบที่1
list_d =[] #แบบที่2

In [31]:
list_c

[]

In [32]:
list_d

[]

เติมคำลงไปใน list (.append())

In [33]:
list_d.append('a')

In [34]:
list_d

['a']

In [35]:
list_d.append(56)

In [36]:
list_d

['a', 56]

####การชี้ค่าใน list (indexing)

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.  สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [37]:
list_b

[2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

In [39]:
list_b[-1] #ชี้จากข้างหลัง

[1, 2, 0.0]

###list slicing เฉือนlist

In [40]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

In [42]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [43]:
list_ex[4:]   #ตัวที่4 ถึงตัวท้าย

[6, 8, -1, 20, 50, 0]

In [45]:
list_ex[:6]   #ตัวแรกถึงตัวก่อนตัวที่6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [46]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [48]:
list_ex[::-1]  #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [49]:
a

'Stat KKU'

In [53]:
a[-3:]
a[5:8]
a[5::]
a[-3::]
a[-3::1]

'KKU'

##list+list

In [54]:
print(list_a)
print(list_b)

[1, 2, 0, 'abs']
[2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

In [55]:
list_a + list_b

[1, 2, 0, 'abs', 2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly br

In [58]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0, 'abs']"

#Loop

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป :
  do something
```

In [57]:
for i in [1,2,3,4,5]:   #iคือ123 print i+1=234
  print(i+1)

2
3
4
5
6

In [59]:
for x in [1,2,3,4,5]:
  print(f'ตัวแปร x ตือ {x} และ x+2={x+2}')

ตัวแปร x ตือ 1 และ x+2=3
ตัวแปร x ตือ 2 และ x+2=4
ตัวแปร x ตือ 3 และ x+2=5
ตัวแปร x ตือ 4 และ x+2=6
ตัวแปร x ตือ 5 และ x+2=7

In [60]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ตัวแปร x ตือ {x} และ x+2={x+2}')

ตัวแปร x ตือ 1 และ x+2=3
ตัวแปร x ตือ 2 และ x+2=4
ตัวแปร x ตือ 3 และ x+2=5
ตัวแปร x ตือ 4 และ x+2=6
ตัวแปร x ตือ 5 และ x+2=7

In [61]:
list(range(10))  #สร้างค่าตั้งแต่0ถึง9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [63]:
for i in range(2,7,2):
  print(i)

2
4
6

In [65]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

###Nested loop ลูปซ้อนลูป

In [69]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
end j loop
i = 0 j = 1 i+j = 1
end j loop
i = 0 j = 2 i+j = 2
end j loop
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
end j loop
i = 1 j = 1 i+j = 2
end j loop
i = 1 j = 2 i+j = 3
end j loop
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
end j loop
i = 2 j = 1 i+j = 3
end j loop
i = 2 j = 2 i+j = 4
end j loop
i = 2 j = 3 i+j = 5
end j loop

##Condition
##Function