<a href="https://colab.research.google.com/github/Wikanes-k/DWDM21/blob/main/Data101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ text box จะเป็น ภาษา markdown

ข้อดีหนึ่งของ Python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas #วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd #เหมือนกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (csv = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv') #ชื่อpackage.ฟังชัน(ชื่อไฟล์)

In [4]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkpk
2  Sarah   49     London

In [5]:
data_df2 = pd.read_csv('data.csv')   #ภายใน1เซลสามารถพิมได้2บรรทัด
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkpk
2  Sarah   49     London

#Basic Python
##variables ตัวแปร กล่องที่ไว้ใส่ข้อมูล

ข้อกหนดในการตั้งชื่อตัวแปร

1.   ชื่อห้ามมีเว้นวรรค
2.   ใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

In [10]:
#colab ใช้ภาาาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [11]:
#ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [12]:
variable_a = 12
variable_b = 'abcde'  # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [13]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [14]:
print(variable_b + variable_4)

abcdeKKU

## Casing int() float() str()

In [15]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [16]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [17]:
V_X  # เป็นstr

'-29.200000000000003'

In [18]:
float(V_X)  #เปลี่ยนกลับเป็นตัวเลข

-29.200000000000003

## Data Stucture
list()

In [19]:
list_a = [1,2,0,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [20]:
list_a

[1, 2, 0, 'abs']

In [21]:
list_b

[2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

In [22]:
len(list_b)  #บอกจำนวนlist

4

In [23]:
list_b[3] #ชี้ list

[1, 2, 0.0]

In [24]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [25]:
a = 'Stat KKU'

In [26]:
a[4]

' '

##วิธีสร้าง list ว่าง

In [27]:
list_c = list() #แบบที่1
list_d =[] #แบบที่2

In [28]:
list_c

[]

In [29]:
list_d

[]

เติมคำลงไปใน list (.append())

In [30]:
list_d.append('a')

In [31]:
list_d

['a']

In [32]:
list_d.append(56)

In [33]:
list_d

['a', 56]

####การชี้ค่าใน list (indexing)

1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.  สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [34]:
list_b

[2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

In [35]:
list_b[-1] #ชี้จากข้างหลัง

[1, 2, 0.0]

###list slicing เฉือนlist

In [36]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

In [37]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [38]:
list_ex[4:]   #ตัวที่4 ถึงตัวท้าย

[6, 8, -1, 20, 50, 0]

In [39]:
list_ex[:6]   #ตัวแรกถึงตัวก่อนตัวที่6

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [40]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [41]:
list_ex[::-1]  #การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [42]:
a

'Stat KKU'

In [43]:
a[-3:]
a[5:8]
a[5::]
a[-3::]
a[-3::1]

'KKU'

##list+list

In [44]:
print(list_a)
print(list_b)

[1, 2, 0, 'abs']
[2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

In [45]:
list_a + list_b

[1, 2, 0, 'abs', 2, 'xyz', [1, 2, 0, 'abs'], [1, 2, 0.0]]

format string

```python
f'string{ตัวแปร}'
```

{} เรียกว่า curly brackets

In [46]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0, 'abs']"

#Loop

ทำงานซ้ำ หรือ ทำงานคล้ายๆกัน

indent
```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป :
  do something  #in_loop
  do another thing  #in loop

do other thing #out side loop
```

In [47]:
for i in [1,2,3,4,5]:   #iคือ123 print i+1=234
  print(i+1)

2
3
4
5
6

In [48]:
for x in [1,2,3,4,5]:
  print(f'ตัวแปร x ตือ {x} และ x+2={x+2}')

ตัวแปร x ตือ 1 และ x+2=3
ตัวแปร x ตือ 2 และ x+2=4
ตัวแปร x ตือ 3 และ x+2=5
ตัวแปร x ตือ 4 และ x+2=6
ตัวแปร x ตือ 5 และ x+2=7

In [49]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ตัวแปร x ตือ {x} และ x+2={x+2}')

ตัวแปร x ตือ 1 และ x+2=3
ตัวแปร x ตือ 2 และ x+2=4
ตัวแปร x ตือ 3 และ x+2=5
ตัวแปร x ตือ 4 และ x+2=6
ตัวแปร x ตือ 5 และ x+2=7

In [50]:
list(range(10))  #สร้างค่าตั้งแต่0ถึง9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [52]:
for i in range(2,7,2):
  print(i)

2
4
6

In [53]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

###Nested loop ลูปซ้อนลูป

In [54]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
end j loop
i = 0 j = 1 i+j = 1
end j loop
i = 0 j = 2 i+j = 2
end j loop
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
end j loop
i = 1 j = 1 i+j = 2
end j loop
i = 1 j = 2 i+j = 3
end j loop
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
end j loop
i = 2 j = 1 i+j = 3
end j loop
i = 2 j = 2 i+j = 4
end j loop
i = 2 j = 3 i+j = 5
end j loop

##Condition (if statement) เงือนไข

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x

```

In [55]:
stringx = 'sa;djakjsdjf;sdjfslk;jdgjghjghjgjkgkhfkj'  #เป็นจริงก็มีข้อมูลออกมา

if len(stringx) > 30:
  print(f'{stringx} is longer than 30 characters')

sa;djakjsdjf;sdjfslk;jdgjghjghjgjkgkhfkj is longer than 30 characters

In [56]:
stringx = 'sa;djakjsdjf;sdjfslk;jdgjghjghjgjkgkhfkj'   #ไม่เป็นจริงก็ไม่มีข้อมูลออกมา

if len(stringx) > 100:
  print(f'{stringx} is longer than 30 characters')
else:
  print(f'{stringx} in {len(stringx)} characters long')  #ถ้าไม่จรริงแล้วให้แสดงจำนวนทั้งหมด

sa;djakjsdjf;sdjfslk;jdgjghjghjgjkgkhfkj in 40 characters long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
  ถ้าเงื่อนไขเป็นจริง ทำงาน a1
  ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
  ถ้าเงื่อนไขเป็นจริง ทำงาน b1
  ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [57]:
password = '12345'
 
input_pass = '12355'
if input_pass == password:
  print('Welcome!')
elif len(input_pass) > len(password):
  print('Too long, try again')
elif len(input_pass) < len(password):
  print('Too short, try again')
else:
  print('Wrong password, try again')

Wrong password, try again

Quiz 1 หา min

In [58]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (comit ก่อน 10:30 :Quiz1)

เฉลยQuiz1

In [59]:
min = 1000000
for i in list_ex: 
  if i < min:
    min = i

print(min)

-19

In [60]:
min = 1000000
print(list_ex)
for i in list_ex:
  print(f'now i = {i}, min = {min}')
  print('start codition')
  if i < min:
    print(f'i < min, update min -> {i}')
    min = i
  else:
    print('i >= min, not update')
  print('end codition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 1000000
start codition
i < min, update min -> 1
end codition, go to next i
now i = 5, min = 1
start codition
i >= min, not update
end codition, go to next i
now i = 9, min = 1
start codition
i >= min, not update
end codition, go to next i
now i = -19, min = 1
start codition
i < min, update min -> -19
end codition, go to next i
now i = -2, min = -19
start codition
i >= min, not update
end codition, go to next i
now i = 0, min = -19
start codition
i >= min, not update
end codition, go to next i
-19

In [61]:
max = 1   #ค่าmax
for i in list_ex:
  if i > max:
    max = i

print(max)

9

HW3 ตัดเกรด

In [62]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

ตัดเกรดตามเกณฑ์

*   80 - 100 = A
*   75 - 79 = B+
*   70-74   = B
*  65 - 69  = C+
*  60 - 64  = C
*  55 - 59  = D+
*  50 - 54  =D 
*  49 - 0    = F

In [63]:
# list แต่ละช่วงของเกรด
list_A = []
list_Bplus = []
list_B = []
list_Cplus = []
list_C = []
list_Dplus = []
list_D = []
list_F = []

In [64]:
# loop ของคะแนนตามช่วง
for i in  score[:]:
    if i >= 80:
      list_A.append(i)   
    if 75 <= i <= 79:
      list_Bplus.append(i)
    if 70 <= i <= 74:
      list_B.append(i)
    if 65 <= i <= 69:
      list_Cplus.append(i)
    if 60 <= i <= 64:
      list_C.append(i)
    if 55 <= i <= 59:
      list_Dplus.append(i)
    if 50 <= i <= 54:
      list_D.append(i)
    if i <= 49:
      list_F.append(i)

In [65]:
#แสดงเกรดเเละจำนวนคนที่ได้
print(f'ได้เกรด A      {len(list_A)}  คน       ได้แก่list  {list_A}')
print(f'ได้เกรด B+    {len(list_Bplus)}  คน       ได้แก่list  {list_Bplus}')
print(f'ได้เกรด B      {len(list_B)}  คน       ได้แก่list  {list_B}')
print(f'ได้เกรด C+    {len(list_Cplus)}  คน       ได้แก่list  {list_Cplus}')
print(f'ได้เกรด C      {len(list_C)}  คน       ได้แก่list  {list_C}')
print(f'ได้เกรด D+    {len(list_Dplus)}  คน       ได้แก่list  {list_Dplus}')
print(f'ได้เกรด D      {len(list_D)}  คน       ได้แก่list  {list_D}')
print(f'ได้เกรด F      {len(list_F)}  คน       ได้แก่list  {list_F}')

ได้เกรด A      4  คน       ได้แก่list  [95, 82, 89, 81]
ได้เกรด B+    2  คน       ได้แก่list  [77, 77]
ได้เกรด B      1  คน       ได้แก่list  [70]
ได้เกรด C+    1  คน       ได้แก่list  [65]
ได้เกรด C      0  คน       ได้แก่list  []
ได้เกรด D+    2  คน       ได้แก่list  [55, 59]
ได้เกรด D      0  คน       ได้แก่list  []
ได้เกรด F      3  คน       ได้แก่list  [49, 20, 10]

##Function



```python
def ชื่อฟังก์ชั่น(input1,input2,...):
  งานxxx
  งานyyy
  return output
```


ส่วนประกอบสำคัญ
*   input
*   process (ไม่มีไม่ได้)
*   output

Example1 ตัวอย่างฟังก์ชัน

In [66]:
def grading(score):
    if score >= 80:
        grade = 'A'
    elif score >= 75:
        grade = 'B+'
    elif score >= 70:
        grade = 'B'
    elif score >= 65:
        grade = 'C+'
    elif score >= 60:
        grade = 'C'
    elif score >= 55:
        grade = 'D+'
    elif score >= 50:
        grade = 'D'
    else:
        grade ='F'

    return grade

In [67]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

In [72]:
def grading_list(list_score):
    grade_list = []
    for score in list_score:
        if score >= 80:
            grade = 'A'
        elif score >= 75:
            grade = 'B+'
        elif score >= 70:
            grade = 'B'
        elif score >= 65:
            grade = 'C+'
        elif score >= 60:
            grade = 'C'
        elif score >= 55:
            grade = 'D+'
        elif score >= 50:
            grade = 'D'
        else:
            grade ='F'
        grade_list.append([score,grade])
    return grade_list

In [73]:
g = grading_list(score)
g

[[49, 'F'],
 [65, 'C+'],
 [70, 'B'],
 [95, 'A'],
 [82, 'A'],
 [55, 'D+'],
 [89, 'A'],
 [20, 'F'],
 [77, 'B+'],
 [77, 'B+'],
 [81, 'A'],
 [59, 'D+'],
 [10, 'F']]

In [75]:
for i in g:
        print(f'คะแนน {i[0]} ได้เกรด {i[1]}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

In [78]:
def grading2(score):
    if score >= 80:
        return 'A'
    elif score >= 75:
        return 'B+'
    elif score >= 70:
        return 'B'
    elif score >= 65:
        return 'C+'
    elif score >= 60:
        return 'C'
    elif score >= 55:
        return 'D+'
    elif score >= 50:
        return 'D'
    else:
        return 'F'

In [79]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i} ได้เกรด {grading2(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

Example 2 (ไม่มี input)

In [80]:
def mypi():
    return 3.14

In [81]:
r = 10
print(f'รัศมี = {r} จะมีเส้นรอบวง = {2*mypi()*r}')

รัศมี = 10 จะมีเส้นรอบวง = 62.800000000000004

Example 3 (ไม่มี output)

In [85]:
def grading_nooutput(score):
    if i >= 80:
        print('ได้เกรด A')
    elif i >= 75:
        print('ได้เกรด B+')
    elif i >= 70:
     print('ได้เกรด B')
    elif i >= 65:
        print('ได้เกรด C+')
    elif i >= 60:
        print('ได้เกรด C')
    elif i >= 55:
        print('ได้เกรด D+')
    elif i >= 50:
        print('ได้เกรด D')
    else:
        print('ได้เกรด F')

In [87]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
    print(f'คะแนน {i}',end='  ')  #end คือ จบด้วยการ space
    grading_nooutput(i)

คะแนน 49  ได้เกรด F
คะแนน 65  ได้เกรด C+
คะแนน 70  ได้เกรด B
คะแนน 95  ได้เกรด A
คะแนน 82  ได้เกรด A
คะแนน 55  ได้เกรด D+
คะแนน 89  ได้เกรด A
คะแนน 20  ได้เกรด F
คะแนน 77  ได้เกรด B+
คะแนน 77  ได้เกรด B+
คะแนน 81  ได้เกรด A
คะแนน 59  ได้เกรด D+
คะแนน 10  ได้เกรด F

Example 4 (ไม่มี input และ output)

In [88]:
def  draw_rect():
    print('==========')
    print('|                     |')
    print('|                     |')
    print('==========')

In [89]:
draw_rect()
draw_rect()

==========
|                     |
|                     |
==========
==========
|                     |
|                     |
==========

#### ลักษณะของ input(paremeter)


*   จำเป็นต้องใส่
*   ไม่จำเป็นต้องใส่

In [96]:
def A(input1, input2 = 3):  #input1คือจำเป็นต้องใส่(เขาไม่เซทค่าdefaultให้) input2คือไม่จำเป็นต้องใส่(เข้าเซทdefaultมาให้)
    return input1+input2

In [97]:
A(1)

4

In [99]:
A(1,6)  #set input1 = 1 input2=6

7

In [100]:
def printlove(input1, input2 = 'stat', input3 = 'KKU'):
    print(f'{input1} love {input2} {input3}')

In [101]:
printlove('wikanes')

wikanes love stat KKU

In [102]:
printlove('wikanes','si','stat')

wikanes love si stat

In [103]:
printlove(input3='wikanes',input2='Si',input1='kku') #สลับตำแหน่งได้

kku love Si wikanes

####Quiz4
สร้างฟังก์ชัน


*   วาดรูปบ้าน
*   วาดรูปต้นไม้

In [121]:
def  draw_rectQ():
    print('          |          ')
    print('         / \         ')
    print('        /   \        ')
    print('       /     \       ')
    print('      /       \ __  ')
    print('     /         \  |  ')
    print('    /           \ |  ')
    print('   /             \|  ')
    print('  /               \  ')
    print(' /__________\ ')
    print('|                   |')
    print('|                   |')
    print('|                   |')
    print('|                   |')
    print('|     _____     |')
    print('|     |       |     |')
    print('|     |     *|     |')
    print('|     |____|     |')
    print('|___________|')

In [122]:
draw_rectQ()

          |
         / \
        /   \
       /     \
      /       \ __
     /         \  |
    /           \ |
   /             \|
  /               \
 /__________\
|                   |
|                   |
|                   |
|                   |
|     _____     |
|     |       |     |
|     |     *|     |
|     |____|     |
|___________|