<a href="https://colab.research.google.com/github/Wikanes-k/DWDM21/blob/main/Project_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd #ส่วนของการ Import
import os

In [14]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/Dataviz_2022'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
data_file_path = os.path.join(path,'stat_c64.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path)

/content/drive/My Drive/Dataviz_2022/stat_c64.xlsx

In [18]:
data_covid = pd.read_excel(data_file_path)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data_covid

,ปีเดือน,รหัส,ชื่อจังหวัด,จำนวนประชากรชาย,จำนวนประชากรหญิง,จำนวนประชากรทั้งหมด,จำนวนบ้าน (หลังคาเรือน)
0,﻿6412,0,ทั่วประเทศ,32339118,33832321,66171439,27708635
1,6412,10,กรุงเทพมหานคร,2592292,2935702,5527994,3147231
2,6412,11,สมุทรปราการ,645884,710565,1356449,733185
3,6412,12,นนทบุรี,599167,689470,1288637,728953
4,6412,13,ปทุมธานี,563851,626209,1190060,660020
...,...,...,...,...,...,...,...
73,6412,92,ตรัง,312693,327095,639788,237935
74,6412,93,พัทลุง,254425,268116,522541,199687
75,6412,94,ปัตตานี,360348,369233,729581,199103
76,6412,95,ยะลา,269907,272407,542314,173226
77,6412,96,นราธิวาส,400501,409159,809660,223141